<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Form</title>

    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
    </style>
</head>

<body class="container">

    <main>
        <div class="jumbotron">
            <form method="POST" action="/new">
                <h1>Submit a message</h1>
                <label>User Name</label>
                <br>
                <input type="text" name="user">
                <br>
                <label>Message</label>
                <br>
                <textarea type="text" name="message" style="width: 100%; height:100px"></textarea>
                <br>
                <button type="submit">SUBMIT</button>
            </form>
        </div>
    </main>

</body>

</html>